<template name="register">
  <div class="register">
    <section class="background">
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-5 col-sm-3"></div>
    <div class="col-sm-6 col-md-2 backBoard" style="text-align: center">
    <h1 style="color: black">Register</h1>
    <form class="register-form">
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Username" name="username">
    <br>
    <input type="password" class="form-control" id="inlineFormInputGroup" placeholder="Password" name="password">
    <br>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
  </div>
  <div class="col-md-5 col-sm-3"></div>
  </div>
  </div>
  </section>
  </div>
</template>
