<template name="contact">
  <div class="contacts">
    <section class="background">
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-4 col-sm-3"></div>
    <div class="col-sm-6 col-md-4 backBoard" style="text-align: center">
    <h1 style="color: black">Contact Us </h1>
    <form class="contact-form">
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Your name" name="yourname">
    <br>
    <input type="email" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="E-mail" name="email">
    <br>
    <textarea name="mailmessage" class="form-control" rows="7" id="comment" placeholder="Message..."></textarea>
    <br>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
  </div>
  <div class="col-md-4 col-sm-3"></div>
  </div>
  </div>
  </section>
</div>
</template>
