<template name="login">
  <div class="login">
    <section class="background">
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-5 col-sm-3"></div>
    <div class="col-sm-6 col-md-2 backBoard" style="text-align: center">
    <h1 style="color: black">Log in </h1>
    <form class="login-form">
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Username" name="username">
    <br>
    <input type="password" class="form-control" id="inlineFormInputGroup" placeholder="Password" name="password">
    <br>
    <button type="submit" class="btn btn-primary">Log in</button>
  </form>
  </div>
  <div class="col-md-5 col-sm-3"></div>
  </div>
  </div>
  </section>
</div>
</template>
